<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhatripathi.iitline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/MainActivity">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenOneActivity"
            android:label="Welcome To IITLine"
            android:theme="@style/MainActivity" />
        <activity android:name=".chemistry" />
        <activity android:name=".physics" />
        <activity android:name=".maths"/>
        <activity android:name=".mathsMainsTopics" />
        <activity android:name=".mathsMainsRecycler"/>
        <activity android:name=".googleLogin"/>
        <activity android:name=".TestSeries"/>
    </application>

</manifest>